.contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DCCCB4;
    background: #473B4D;
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-info {
        margin-bottom: 60px;
        &__text {
            @extend %noc-italic;
            font-size: 35px;
            margin-bottom: 20px;
        }
        &__address {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 20px;
        }
        &__phone {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 40px;
        }
    }
    &-faq {
        margin-top: 60px;
        &__text {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 40px;
        }
    }
}

@media all and (max-width: 1366px) {
      
}

@media all and (max-width: 1024px) {
    .contact {
        &-info {
            margin-bottom: 35px;
            &__text {
                font-size: 31px;
                margin-bottom: 10px;
            }
            &__address {
                font-size: 31px;
                margin-bottom: 10px;
            }
            &__phone {
                font-size: 31px;
                margin-bottom: 30px;
            }
        }
        &-faq {
            margin-top: 35px;
            &__text {
                font-size: 31px;
                margin-bottom: 30px;
            }
        }
    }    
}

@media all and (max-width: 767px) {
    .contact {
        padding: 120px 0;
        &-info {
            margin-bottom: 70px;
            &__text {
                font-size: 35px;
                margin-bottom: 50px;
            }
            &__address {
                font-size: 30px;
                margin-bottom: 20px;
                width: 270px;
                text-align: center;
                line-height: 45px;
            }
            &__phone {
                width: 350px;
                text-align: center;
                font-size: 30px;
                margin-bottom: 50px;
                line-height: 45px;
            }
        }
        &-faq {
            margin-top: 0;
            &__text {
                width: 400px;
                text-align: center;
                font-size: 30px;
                margin-bottom: 50px;
                line-height: 45px;
            }
        }
    }    
}

@media all and (max-width: 500px) {
    .contact {
        padding: 60px 0 100px 0;
        &-info {
            margin-bottom: 50px;
            &__text {
                font-size: 22px;
                margin-bottom: 30px;
            }
            &__address {
                font-size: 20px;
                margin-bottom: 15px;
                width: 180px;
                line-height: 35px;
            }
            &__phone {
                width: 250px;
                font-size: 20px;
                margin-bottom: 25px;
                line-height: 35px;
            }
        }
        &-faq {
            &__text {
                width: 265px;
                font-size: 20px;
                margin-bottom: 25px;
                line-height: 35px;
            }
        }
    }     
}