.hero {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #dcccb4;
	&-text {
		@extend %servus-light;
		width: 1060px;
		font-size: 55px;
		line-height: 81px;
		text-align: center;
		&--italic {
			@extend %servus-light-italic;
		}
		&__top {
			margin-bottom: 75px;
		}
	}
}

@media all and (min-width: 1680px) {
	.hero {
		&-text {
			width: 1450px;
			font-size: 76px;
			line-height: 110px;
			&__top {
				margin-bottom: 100px;
			}
		}
	}	
}

@media all and (max-width: 1366px) {
	.hero {
		&-text {
			width: 850px;
			font-size: 45px;
			line-height: 75px;
			&__top {
				margin-bottom: 70px;
			}
		}
	}	
}

@media all and (max-width: 1024px) {
	.hero {
		&-text {
			max-width: 660px;
			font-size: 35px;
			line-height: 64px;
			text-align: center;
			&__top {
				margin-bottom: 50px;
			}
		}
	}	
}

@media all and (max-width: 767px) {
	.hero {
		padding: 100px 0;
		&-text {
			width: 405px;
			font-size: 30px;
			line-height: 55px;
			&__top {
				margin-bottom: 50px;
			}
			&__bottom {
				width: 405px;
				margin-bottom: 0;
			}
		}
	}	
}

@media all and (max-width: 500px) {
	.hero {
		padding: 80px 0;
		&-text {
			width: 240px;
			font-size: 20px;
			line-height: 36px;
			&__top {
				margin-bottom: 40px;
			}
		}
	}		
}
