.main {
	width: 100%;
	height: 100%;
	background-color: #dcccb4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 100px 0;
	justify-content: space-between;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main.png');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	&-title {
		display: flex;
		flex-direction: column;
		@extend %servus-light;
		font-size: 129px;
		line-height: 140px;
		color: #E9E4D8;
		align-self: flex-start;
		margin-left: 165px;
	}
}

@media all and (max-width: 1366px) {
	.main {
		&-title {
			font-size: 100px;
			line-height: 110px;
			margin-left: 115px;
		}
	}
}

@media all and (max-width: 1024px) {
	.main {
		padding: 0 0 60px 0;
		&-title {
			font-size: 80px;
			line-height: 90px;
			margin-left: 155px;
		}
	}		
}

@media all and (max-width: 767px) {
	.main {
		padding: 0 0 100px 0;
		height: 100vh;
		min-height: 100vh;
		&-title {
			font-size: 60px;
			line-height: 60px;
			align-self: center;
			margin-left: 0;
			flex-direction: row;
		}
	}
}

@media all and (max-width: 500px) {
	.main {
		padding: 0 0 50px 0;
		&-title {
			font-size: 50px;
			line-height: 55px;
			flex-direction: column;
		}
	}	
}
