@keyframes mainAnim {
	0% {
		transform: translateX(180px);
		opacity: .3;
		visibility: 0;
	}
	100% {
		opacity: 1;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		visibility: 1;
	}
}

.main {
	height: 100vh;
	width: 100%;
	height: 100%;
	background-color: #dcccb4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 100px 0;
	justify-content: space-between;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main_desktop_standard.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	&-title {
		display: flex;
		flex-direction: column;
		@extend %servus-light;
		font-size: 129px;
		line-height: 140px;
		color: #E9E4D8;
		align-self: flex-start;
		margin-left: 165px;
		transition: opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0s;
		animation-delay: 1s;
		animation: .8s mainAnim;
		&--tablet {
			animation-delay: 0s;
		}
	}
}

@media all and (min-width: 1680px) {
	.main {
		padding: 0 0 140px 0;
		&-title {
			font-size: 176px;
			line-height: 190px;
			margin-left: 140px;
		}
	}	
}

@media all and (max-width: 1366px) {
	.main {
		background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main_desktop_small.jpg');
		&-title {
			font-size: 100px;
			line-height: 110px;
			margin-left: 115px;
		}
	}
}

@media all and (max-width: 1024px) {
	.main {
		background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main_tablet.jpg');
		padding: 0 0 60px 0;
		&-title {
			font-size: 80px;
			line-height: 90px;
			margin-left: 155px;
		}
	}		
}

@media all and (max-width: 767px) {
	@keyframes mainAnim {
		0% {
			transform: translateX(100px);
			opacity: .3;
		}
		100% {
			opacity: 1;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		}
	}
	.main {
		background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main_mobile_big.jpg');
		padding: 0 0 70px 0;
		height: 100vh;
		min-height: 100vh;
		&-title {
			font-size: 60px;
			line-height: 60px;
			align-self: center;
			margin-left: 0;
		}
	}
}

@media all and (max-width: 500px) {
	.main {
		background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main_mobile_small.jpg');
		padding: 0 0 50px 0;
		&-title {
			font-size: 50px;
			line-height: 55px;
			flex-direction: column;
		}
	}	
}
