.main {
	width: 100%;
	height: 100%;
	background-color: #dcccb4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 50px 0;
	justify-content: space-between;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_main.png');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	&-title {
		display: flex;
		flex-direction: column;
		@extend %noc-light;
		font-size: 129px;
		line-height: 110px;
		color: #E9E4D8;
		align-self: flex-start;
		margin-left: 150px;
		&__bottom {
			margin-left: 110px;
		}
	}
}

@media all and (max-width: 1366px) {
	.main {
		&-title {
			font-size: 120px;
			line-height: 110px;
			margin-left: 140px;
			&__bottom {
				margin-left: 90px;
			}
		}
	}
}

@media all and (max-width: 1024px) {
	.main {
		padding: 0 0 60px 0;
		&-title {
			font-size: 100px;
			line-height: 85px;
			margin-left: 0;
			align-self: center;
			&__bottom {
				margin-left: 85px;
			}
		}
	}		
}
