.nails {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E7ECE7;
	&-title {
		@extend %robo-medium;
		font-size: 25px;
		position: relative;
		margin-bottom: 50px;
	}
	&-subtitle {
		@extend %servus-regular-italic;
		font-size: 45px;
		margin-bottom: 85px;
	}
	&-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
		align-items: center;
		&__nail {
			width: 71px;
			height: 130px;
		}
		&__vl {
			height: 150px;
			width: 2px;
			background: #000;
			margin: 0 65px;
		}
	}
}

@media all and (min-width: 1680px) {
	.nails {
		&-title {
			font-size: 35px;
		}
		&-subtitle {
			font-size: 82px;
			margin-bottom: 100px;
		}
		&-wrapper {
			margin-bottom: 120px;
			&__nail {
				width: 95px;
				height: 170px;
			}
			&__vl {
				height: 205px;
				margin: 0 90px;
			}
		}
	}	
}

@media all and (max-width: 1366px) {
	.nails {
		&-title {
			margin-bottom: 40px;
		}
		&-wrapper {
			&__vl {
				margin: 0 50px;
			}
		}
	}	
}

@media all and (max-width: 1024px) {
	.nails {
		&-title {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&-subtitle {
			font-size: 35px;
			margin-bottom: 60px;
		}
		&-wrapper {
			margin-bottom: 0;
			&__vl {
				margin: 0 50px;
			}
			&__inner {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}	
}

@media all and (max-width: 767px) {
	.nails {
		padding: 100px 0;
		&-title {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&-subtitle {
			font-size: 35px;
			margin-bottom: 60px;
		}
		&-wrapper {
			&__nail {
				width: 60px;
				height: 110px;
			}
			&__vl {
				height: 120px;
				margin: 0 55px;
			}
		}
	}	
}

@media all and (max-width: 500px) {
	.nails {
		padding: 80px 0;
		&-title {
			font-size: 15px;
			margin-bottom: 20px;
		}
		&-subtitle {
			font-size: 22px;
			margin-bottom: px;
		}
		&-wrapper {
			&__nail {
				width: 50px;
				height: 90px;
			}
			&__vl {
				height: 100px;
				margin: 0 25px;
			}
		}
	}	
}