.phone {
    width: 100%;
	height: 100%;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_phone.JPG');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media all and (max-width: 1024px) {
	.phone {
		height: 100vh;
	}	
}

@media all and (max-width: 767px) {
	// .phone {
	// 	height: 100vh;
	// }	
}