.services {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e7ece7;
	&-title {
		@extend %servus-regular-italic;
		font-size: 45px;
		margin-bottom: 90px;
	}
	&-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
	&-item {
		width: 350px;
		margin: 0 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__line {
			width: 75px;
			height: 2px;
			background-color: #000;
			margin-bottom: 50px;
		}
		&__title {
			@extend %robo-medium;
			width: 250px;
			text-align: center;
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 40px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&__desc {
			@extend %servus-regular;
			text-align: center;
			font-size: 15px;
			line-height: 26px;
		}
	}
	&-info {
		@extend %servus-regular;
		font-size: 15px;
		letter-spacing: 1px;
	}
}

@media all and (min-width: 1680px) {
	.services {
		&-title {
			font-size: 62px;
			margin-bottom: 100px;
		}
		&-item {
			width: 480px;
			margin: 0 20px;
			&__line {
				width: 100px;
				margin-bottom: 60px;
			}
			&__title {
				width: 350px;
				font-size: 42px;
				line-height: 42px;
				margin-bottom: 50px;
			}
			&__desc {
				font-size: 22px;
				line-height: 40px;
				width: 400px;
			}
		}
		&-info {
			font-size: 22px;
		}
	}	
}

@media all and (max-width: 1366px) {
	.services {
		&-wrapper {
			margin-bottom: 40px;
		}
		&-item {
			width: 280px;
			margin: 0 20px;
			&__desc {
				padding: 0 25px;
			}
		}
	}
}

@media all and (max-width: 1024px) {
	.services {
		&-title {
			font-size: 35px;
			margin-bottom: 35px;
		}
		&-wrapper {
			margin-bottom: 0;
			flex-direction: column;
			align-items: center;
		}
		&-item {
			width: 630px;
			margin: 0 0 30px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			&__line {
				display: none;
			}
			&__title {
				width: auto;
				font-size: 15px;
				line-height: 15px;
				margin-bottom: 15px;
				position: relative;
				&:before,
				&::after {
					content: '';
					display: block;
					width: 75px;
					height: 2px;
					background-color: #000;
					position: absolute;
					top: calc(50% - 1px);
					right: calc(100% + 20px);
				}
				&:after {
					left: calc(100% + 20px);
				}

			}
		}
	}	
}

@media all and (max-width: 767px) {
	.services {
		padding: 100px 0 50px 0;
		&-title {
			font-size: 35px;
			margin-bottom: 50px;
		}
		&-item {
			width: auto;
			margin: 0 0 50px 0;
			&__line {
				margin-bottom: 40px;
				display: block;
				width: 120px;
			}
			&__title {
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 25px;
				&:before,
				&::after {
					display: none;
				}
			}
			&__desc {
				width: 400px;
			}
		}
		&-info {
			width: 400px;
			text-align: center;
		}
	}	
}

@media all and (max-width: 500px) {
	.services {
		padding: 80px 0 40px 0;
		&-title {
			font-size: 22px;
			margin-bottom: 40px;
		}
		&-item {
			margin: 0 0 40px 0;
			&__line {
				margin-bottom: 30px;
				width: 75px;
			}
			&__title {
				font-size: 20px;
				line-height: 20px;
			}
			&__desc {
				width: 240px;
				padding: 0;
			}
		}
		&-info {
			width: 260px;
			text-align: center;
		}
	}	
}
