.team {
    width: 100%;
    height: 100vh;
    background: #B5C7D8;
    display: flex;
    align-items: center;
    justify-content: center;
    &-photo {
        // background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_magda.jpg');
        background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/Magdalena.jpg');
        background-position: 50% 20%; 
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0 0 490px;
        width: 490px;
        height: 570px;
        margin-right: 50px;
    }
    &-info {
        height: 570px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 50px;
        &__name {
            @extend %robo-medium;
            font-size: 45px;
            margin-bottom: 30px;
        }
        &__role {
            @extend %servus-regular-italic;
            font-size: 30px;
            margin-bottom: 30px;
        }
        &__desc {
            @extend %servus-regular;
            font-size: 25px;
            line-height: 40px;
        }
    }
}

@media all and (min-width: 1680px) {
    .team {
        &-photo {
            flex: 0 0 676px;
            width: 676px;
            height: 776px;
        }
        &-info {
            height: 776px;
            &__name {
                font-size: 62px;
                margin-bottom: 50px;
            }
            &__role {
                font-size: 42px;
                margin-bottom: 40px;
            }
            &__desc {
                width: 675px;
                font-size: 35px;
                line-height: 54px;
            }
        }
    }
}

@media all and (max-width: 1366px) {
    .team {
        &-photo {
            flex: 0 0 400px;
            width: 400px;
            height: 460px;
            margin-right: 35px;
        }
        &-info {
            width: 410px;
            height: auto;
            margin-left: 35px;
            margin-top: 170px;
        }
    }    
}

@media all and (max-width: 1024px) {
    .team {
        height: 100vh;
        &-photo {
            flex: 0 0 320px;
            width: 320px;
            height: 370px;
            margin-right: 20px;
        }
        &-info {
            width: 310px;
            margin-left: 20px;
            margin-top: 200px;
            &__name {
                font-size: 30px;
                margin-bottom: 35px;
            }
            &__role {
                font-size: 25px;
                margin-bottom: 30px;
            }
            &__desc {
                font-size: 15px;
                line-height: 25px;
            }
        }
    } 
}

@media all and (max-width: 767px) {
    .team {
        height: auto;
        flex-direction: column;
        padding: 0 0 100px 0;
        &-photo {
            flex: 0 0 240px;
            width: 240px;
            height: 240px;
            margin: 0 0 35px 0;
        }
        &-info {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0;
            width: 380px;
            align-items: center;
            &__name {
                font-size: 30px;
                margin-bottom: 30px;
            }
            &__role {
                font-size: 20px;
                margin-bottom: 20px;
            }
            &__desc {
                font-size: 15px;
                line-height: 24px;
                text-align: center;
            }
        }
    }    
}

@media all and (max-width: 500px) {
    .team {
        padding: 0 0 80px 0;
        &-photo {
            flex: 0 0 180px;
            width: 180px;
            height: 180px;
            margin: 0 0 25px 0;
        }
        &-info {
            width: 260px;
            align-items: center;
            &__name {
                font-size: 20px;
                margin-bottom: 20px;
            }
            &__role {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
    }     
}