.wine {
    width: 100%;
	height: 100%;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_wine.JPG');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media all and (max-width: 767px) {
	.wine {
		background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_wine_mobile.jpg');
		height: 100vh;
		background-size: cover;
	}	
}