.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    &-image {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }
    &-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text { 
            @extend %robo-regular;
            font-size: 25px;
            fill: #000;
        }
    }
}



svg { 
    width: 100%;
    box-shadow : 0px -0px 10000px transparent;
}

@media all and (min-width: 1680px) {
    .circle {
        width: 750px;
        height: 750px;
        &-image {
            width: 610px;
            height: 610px;
        }
        &-text {
            text { 
                font-size: 25px;
            }
        }
    }    
}

@media all and (max-width: 1366px) {
    .circle {
        width: 500px;
        height: 500px;
        &-image {
            width: 400px;
            height: 400px;
        }
        &-text {
            text { 
                font-size: 20px;
            }
        }
    }    
}

@media all and (max-width: 1024px) {
    .circle {
        width: 440px;
        height: 440px;
        &-image {
            width: 360px;
            height: 360px;
        }
        &-text {
            text { 
                font-size: 20px;
            }
        }
    }    
}
            
@media all and (max-width: 767px) {
    .circle {
        width: 385px;
        height: 385px;
        &-image {
            width: 315px;
            height: 315px;
        }
        &-text {
            text { 
                font-size: 25px;
            }
        }
    }    
}

@media all and (max-width: 500px) {
    .circle {
        width: 280px;
        height: 280px;
        &-image {
            width: 225px;
			height: 225px;
        }
    }    
}