.faq-hero {
    width: 100%;
	height: 100vh;
	background-image: url('https://maniera.s3.eu-central-1.amazonaws.com/maniera_type.JPG');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}