$width: 866px;;

.pricing {
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #E9E4D8;
        padding: 120px 0;
    }
    &-title {
        @extend %noc-italic;
        font-size: 45px;
        margin-bottom: 15px;
    }
    &-button {
        margin-top: 75px;
        width: $width;
    }
    &-wrapper {
        width: $width;
        display: flex;
        flex-direction: column;
    }
    &-item {
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 0 50px;
        &__title {
            @extend %noc-regular;
            font-size: 25px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &--open {
                @extend %noc-italic;    
            }
        }
        &__wrapper {
            @extend %noc-regular;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 50px;
            }
        }
    }
}

@media all and (max-width: 1366px) {

}