// @font-face {
// 	font-family: "NocturneSerif-Regular";
// 	src: url("/static/NocturneSerif-Regular.woff") format("woff");
// }
// @font-face {
// 	font-family: "NocturneSerif-RegularItalic";
// 	src: url("/static/NocturneSerif-RegularItalic.woff") format("woff");
// }
@font-face {
	font-family: "RobotoMono-Medium";
	src: url("/static/RobotoMono-Medium.woff") format("woff");
}
@font-face {
	font-family: "RobotoMono-Regular";
	src: url("/static/RobotoMono-Regular.woff") format("woff");
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: "NocturneSerif-Regular", serif;
	color: #000;
	font-weight: normal;
	font-size: 16px;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}

h1,h2,h3, h4 {
	font-weight: normal;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

// *::-webkit-scrollbar-track {
// 	background-color: transparent;
// }

// *::-webkit-scrollbar {
// 	width: 5px;
// 	background-color: transparent;
// }

// *::-webkit-scrollbar-thumb {
// 	background-color: #636e72;
// 	border-radius: 2px;
// }
