.contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DCCCB4;
    background: #473B4D;
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-info {
        margin-bottom: 60px;
        &__text {
            @extend %noc-italic;
            font-size: 35px;
            margin-bottom: 20px;
        }
        &__address {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 20px;
        }
        &__phone {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 40px;
        }
    }
    &-faq {
        margin-top: 60px;
        &__text {
            @extend %noc-regular;
            font-size: 35px;
            margin-bottom: 40px;
        }
    }
}