%robo-regular {
	font-family: "RobotoMono-Regular", sans-serif;
}

%robo-medium {
	font-family: "RobotoMono-Medium", sans-serif;
}

%robo-bold {
	font-family: "RobotoMono-Bold", sans-serif;
}

%servus-extra-light {
	font-family: 'servus-slab', serif;
	font-weight: 200;
}

%servus-light {
	font-family: 'servus-slab', serif;
	font-weight: 300;
}

%servus-light-italic {
	font-family: 'servus-slab', serif;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 1px;
}

%servus-regular {
	font-family: 'servus-slab', serif;
	font-weight: 400;
}

%servus-regular-italic {
	font-family: 'servus-slab', serif;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1px;
}

