%noc-regular {
	font-family: "NocturneSerif-Regular", serif;
}

%noc-italic {
	font-family: "NocturneSerif-RegularItalic", serif;
}

%robo-regular {
	font-family: "RobotoMono-Regular", sans-serif;
}

%robo-medium {
	font-family: "RobotoMono-Medium", sans-serif;
}
