.footer {
    width: 100%;
    padding: 60px 0;
    background: #000;
    color: #DCCCB4;
    @extend %robo-medium;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    &-list {
        list-style: none;
        margin: 0 120px;
        li {
            margin-bottom: 15px;
            a {
                color: #DCCCB4;
                &:hover {
					.link-inner__default {
						transform: translateY(100%);
					}
					.link-inner__hover {
						transform: translateY(100%);
					}
				}
            }
        }
    }
    &-authors {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        line-height: 18px;
        display: flex;
        a {
            color: #DCCCB4;
        }
    }
}

@media all and (min-width: 1680px) {
    .footer {
        padding: 80px 0;
        font-size: 21px;
    }   
}

@media all and (max-width: 1366px) {
    .footer {
        padding: 40px 0;
        &-list {
            list-style: none;
            margin: 0 80px;
        }
    }     
}

@media all and (max-width: 1024px) {
    .footer {
        padding: 30px 0;
        font-size: 12px;
        &-list {
            margin: 0 60px;
            li {
                margin-bottom: 10px;
            }
        }
        &-authors {
            bottom: 10px;
            font-size: 8px;
        }
    }   
}

@media all and (max-width: 767px) {
    .footer {
        padding: 50px 0 100px 0;
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        &-list {
            display: flex;
            margin: 0;
            width: 400px;
            justify-content: space-around;
            margin-bottom: 40px;
            padding-bottom: 30px;
            border-bottom: 1px solid #DCCCB4;
            &__follow {
                display: none;
            }
            &--address {
                flex-direction: column;
                align-items: center;
            }
        }
        &-authors {
            position: relative;
            transform: none;
            left: auto;
            bottom: auto;
            top: 15px;
            font-size: 12px;
        }
    }     
}

@media all and (max-width: 500px) {
    .footer {
        padding: 50px 0 80px 0;
        font-size: 10px;
        &-list {
            width: 260px;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }
        &-authors {
            bottom: 40px;
            font-size: 8px;
        }
    }    
}