.modal {
    &-overlay {
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    &-box {
        z-index: 9999999;
        background-color: #C4DCF4;
        width: 550px;
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-60px);
        }
    }
    &-content {
        padding: 25px 0 50px 0;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        @extend %robo-medium;
		font-size: 15px;
    }
    &-text {
        @extend %robo-regular;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin: 50px 0 50px;
    }
    &-button {
        height: 30px !important;
        width: 360px !important;
        font-size: 12px !important;
        margin-bottom: 50px;
    }
    &-image {
        svg {
            width: 225px;
            height: 125px;
        }
    }
    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding-top: 6px;
        cursor: pointer;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
        }
        &__inner {
            width: 18px;
            height: 2px;
            background:#000;
            border-radius: 1px;
            transition: all 0.3s linear;
            position: relative;
            margin: 3px auto;
            &:nth-child(2) {
                transform: translate(0, 5px) rotate(45deg);
            }
    
            &:nth-child(3) {
                transform: rotate(-45deg);

            }
        }
    }
}

@media all and (max-width: 500px) {
	.modal {
        &-box {
            width: 300px;
            &:after {
                content: "";
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: -60px;
                left: 50%;
                transform: translateX(-60px);
            }
        }
        &-title {
            font-size: 14px;
        }
        &-text {
            font-size: 14px;
            line-height: 20px;
        }
        &-button {
            height: 30px !important;
            width: 280px !important;
            font-size: 12px !important;
        }
        &-image {
            svg {
                width: 225px;
                height: 125px;
            }
        }
    }	
}