nav {
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 1;
	ul {
		list-style: none;
		display: flex;
		li {
			margin-right: 20px;
			a {
				@extend %robo-medium;
				letter-spacing: 2px;
				font-size: 15px;
				color: #000;
				height: 20px;
				&:hover {
					.link-inner__default {
						transform: translateY(100%);
					}
					.link-inner__hover {
						transform: translateY(100%);
					}
				}
			}
		}
	}
}

@media all and (max-width: 1024px) {
	nav {
		top: 45px;
		left: 45px;
		ul {
			li {
				a {
					font-size: 10px;
				}
			}
		}
	}
}

