.Slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Slider-slides {
  display: flex;
}

.Slider-slides--transition {
  transition: transform .5s;
}

.Slider-slides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.Slider-slides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.Slider-nav {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 40px 0 60px 0;
  order: 2;
}

.Slider-navButton {
  background: none;
  border: 0;
  height: 20px;
  opacity: 0.5;
  outline: none;
  position: relative;
  transition: opacity 0.25s;
  width: 30px;
  padding: 0;

  &::after {
    background: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    content: '';
    display: block;
    height: 12px;
    left: 9px;
    position: absolute;
    top: 4px;
    width: 12px;
  }
}

.Slider-navButton--active {
  opacity: 1;

  &::after {
    height: 20px;
    left: 5px;
    opacity: 1;
    top: 0;
    width: 20px;
  }
}
